body {
    overflow: hidden;
}

.container {
    background-color: rgba(255,255,255,.95);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 100vw;
    height: 50vh;
    margin: auto;
    top: 25vh;
    z-index: 9;
}

h1 {
    font-family: "aziga", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: clamp( 10vw, 20vw, 25vw);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -25vh;
    text-align: center;
    color: #a72929;
}